.welcome-box{
    display: flex;
}

.welcome-img{
    width: 600px;
    max-height: 100%;
}

@media screen and (max-width: 768px) {
    .welcome-box{
        flex-direction: column-reverse;
    }
}